<div class="shop-basket">
    <img src="images/basket-icon.png" alt="" class="shop-basket__icon">
    <div class="shop-basket__info">
        <div class="shop-basket__title">Корзина</div>
        <div class="shop-basket__goods">Товаров нет</div>
        <div class="shop-basket__admin">
            <a href="#" class="shop-basket__registry">Регистрация</a> / <a href="#" class="shop-basket__entrance">Вход</a>
        </div>

    </div>
</div>