.the-content-area {
  max-width: 746px;
  width: 100%;

  &__inner {
    margin-left: -6px;
    min-height: 413px;

    p {
      font-family: 'PFdin Textpro Light', sans-serif;
      font-size: 14px;
      color: #000;
      line-height: 1.25;
      letter-spacing: 0.5px;
    }

  }
}

.main-slider {
  margin-bottom: 15px;
  margin-left: -10px;
  margin-right: -10px;

  @media(max-width: 991px) {
    margin-left: 0;
    margin-right: 0;
  }
}