<div class="the-content-area">
    <div class="main-slider">
        <img src="images/slide1.png" alt="" class="main-slider__image">
    </div>
    <div class="the-content-area__categories">
        {{>  the-categories }}
    </div>
    <div class="the-content-area__inner">
        <h1>Интернет-магазин посуды www.posudanew.ru (h1)</h1>
        <p>Посуда – это неотъемлемая часть любой кухни. Именно она ежедневно используется всеми домочадцами, она долгое
            время способна сохранять свои изначальные качества и иногда некоторые изделия передаются из поколения в поколение.
            На нашем сайте представлена хорошая посуда, с отличными качественными характеристиками и порой уникальными
            свойствами. При этом каждое изделие имеет свои особенности, которые заслуживают пристального внимания.</p>
    </div>
</div>