<div class="the-widget-area">
    <div class="the-widget-area__categories">
        <div class="the-widget-area__title the-widget-area__title_underline">
            <img src="images/categories.png" alt="" class="the-widget-area__title-icon">
            <div class="the-widget-area__subtitle">Каталог товаров</div></div>
        <ul class="the-widget-area__nav">
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Эмалированная посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Антипригарная посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Нержавеющая посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Алюминиевая посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Стеклянная посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Фарфоровая посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Керамическая посуда</a>
            </li>
            <li class="the-widget-area__nav-item">
                <a href="#" class="the-widget-area__nav-link">Пластиковая посуда</a>
            </li>
        </ul>
    </div>
    <div class="the-widget-area__payments">
        <div class="the-widget-area__payments-title">Мы принимаем к оплате</div>
        <img src="images/crditcards.png" alt="">
    </div>
</div>