<div class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__copyright">
            <a href="/" class="main-footer__copyright-link"><strong>Posudanew.ru</strong> - интернет-магазин посуды в Туле</a>
            <div class="main-footer__copyright-info">(с) 2016 Все права защищены.</div>
        </div>
        <div class="main-footer__callme">
            <img src="images/phone-icon.png" class="main-footer__callme-icon">
            <a href="tel:+74872792910" class="main-footer__callme-phone">+7(4872)79-29-10</a>
        </div>
        <div class="main-footer__metric">
            <div class="main-footer__metric-counters">
                <img src="images/metric.png" alt="" class="main-footer__metric-counter">
                <img src="images/metric.png" alt="" class="main-footer__metric-counter">
            </div>
            <div class="main-footer__studio">
                <a  href="#" class="main-footer__studio-title">Создание и продвижение сайтов</a> -
                <img src="images/Studio_logo.png" alt="" class="main-footer__studio-logo">
            </div>
        </div>
    </div>
</div>