<header class="main-header">
    <div class="main-header__top">
        <div class="container  main-header__top-container">
                    <a href="/" class="main-header__logo">
                        <div class="main-header__logo-info">Интернет-магазин посуды</div>
                        <img src="images/logo.png" alt="" class="main-header__logo-icon">
                        <div class="main-header__logo-slogan">Посуда по низким ценам!</div>
                    </a>
                    <div class="main-header__search-form">
                        {{> search-form }}
                    </div>
                    <div class="main-header__callme">
                        <img src="images/phone-icon.png" alt="" class="main-header__callme-icon">
                        <div class="main-header__callme-info">
                            <div class="main-header__callme-slogan">Звоните нам:</div>
                            <a href="tel:+74872792910" class="main-header__callme-number">+7 (4872) 79-29-10</a>
                        </div>
                    </div>
                <div class="main-header__shop-basket">
                    {{> shop-basket }}
                </div>
            </div>
    </div>
    <div class="main-header__bottom">
        <div class="container main-header__bottom-container">
            <nav class="main-header__nav">
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Главная</a>
                </li>
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Каталог</a>
                </li>
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Новинки</a>
                </li>
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Акции</a>
                </li>
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Как сделать заказ</a>
                </li>
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Доставка и оплата</a>
                </li>
                <li class="main-header__nav-item">
                    <a href="#" class="main-header__nav-link">Контакты</a>
                </li>
            </nav>
        </div>
    </div>
</header>


